[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/VulkanMemoryAllocator"]
	path = dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "dep/eigen"]
	path = dep/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/jjyouLib"]
	path = dep/jjyouLib
	url = https://github.com/YJJfish/jjyouLib.git
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb.git
