[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/VulkanMemoryAllocator"]
	path = dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
